body{margin:0;background:#0f172a;overflow:hidden;font-family:Arial}
canvas{position:absolute;top:0;left:0}

#hud{
position:fixed;
bottom:0;
width:100%;
background:#0009;
padding:6px;
}

#cards{
display:flex;
justify-content:center;
gap:6px;
}

.card{
width:60px;
height:80px;
background:#fb7185;
border-radius:10px;
color:white;
font-size:10px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

#elixir{
height:10px;
border:2px solid pink;
border-radius:20px;
margin:5px;
}

#eli{
height:100%;
background:#a855f7;
width:100%;
}

#victory{
display:none;
position:fixed;
inset:0;
background:#000c;
color:white;
font-size:40px;
align-items:center;
justify-content:center;
flex-direction:column;
}